@import url('http://fonts.cdnfonts.com/css/ninja-naruto');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(98, 98, 210) 35%, rgba(0,212,255,1) 100%);
display: flex;
}
header{
    
    border: solid red;
    margin-top: 85px;
    margin-left: 1000px;
    font-family: 'Ninja Naruto', sans-serif;
    font-size: 30px;
    
}
ul{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    list-style: none;
    margin-left: -775px;
   


}
ul li{
    word-spacing: 3%;
    margin-right: 242px;
    text-decoration: none;
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: 'Ninja Naruto', sans-serif;
    border: solid red;
    margin-top: 8.4vh;
    list-style: none;

   
  
}
.logo{
    padding-left: 55px;
    margin-top: -40px;

}

.nav-links a{
    color: rgb(233, 160, 66);
    font-weight: 500;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: rgb(199, 156, 39);
    transition: all 0.5 ease;
}
.nav-links li a:hover:before{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   min-height: 12vh;
   margin-left: -104vw;
}

.btn-1{
    width: 120px;
    height: 70px;
    border: none;
  background-color: rgb(29, 169, 158);
  border-radius: 20px;rgb(81, 235, 222);
  font-family: 'Ninja Naruto', sans-serif;
  box-shadow: inset 0 0 0 0 rgb(176, 53, 53);
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
}
.btn-1:hover{
    box-shadow: inset 0 0 0 0 rgb(176, 53, 53) ;
}